<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Magestic Hotel</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--<script type="text/javascript" src="dist/pickmeup.min.js"></script>
    <script type="text/javascript" src="dist/handleCounter.js"></script>-->
    <link rel="stylesheet" type="text/css" href="css/pickmeup.css">
    <link rel="stylesheet" type="text/css" href="css/handle-counter.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="dist/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="dist/demo.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</head>
<style>
select {
    padding: 5px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.flag-icon {
    vertical-align: middle;
    margin-left: 5px;
}

.tm-header {
    background-image: url("/images/restaurantpage.jpg");
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
</style>

<body>
<!--<select name="language" id="language">
    <option value="en">English <span class="flag-icon">🇺🇸</span></option>
    <option value="ja">中文 <span class="flag-icon">🇨🇳</span></option>
</select>
-->

<header class="tm-header">
    </div>
    <div class="flags">
        <div class="flagEn">
            <a href="#" id="enImg"><img src="/images/us.png"/></a>
        </div>
        <div class="flagCn">
            <a href="#" id="cnImg"><img src="/images/cn.png"/></a>
        </div>
    </div>
    </nav>
    <img class="tm-logo" src="/images/hotellogo.png" alt="Majestic Hotel">
    <nav class="tm-nav">
        <div>
            <ul>
                <li class="tm-list"><a href="home" th:href="@{/home}">Home</a></li>
                <li class="tm-list"><a href="rooms" th:href="@{/rooms}">Rooms</a></li>
                <li class="tm-list"><a href="booking" th:href="@{/reservation}">Booking</a></li>
                <li class="tm-list"><a href="Login" th:href="@{/login}">Login</a></li>
                <li class="tm-list"><a href="restaurant" th:href="@{/restaurant}">Restaurant</a></li>
                <li class="tm-list"><a href="contact" th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="tm-main"></section>

<section class="tm-booking">
    <form id="contactForm">
        <div class="tm-form1">
            <input type="text" name="name" id="name" placeholder="Name">
            <br>
            <input type="email" name="email" id="email" placeholder="E-mail">
            <br>
            <textarea id="messageInput" placeholder="Your message..." rows="4"></textarea>
            <div id="charCount">0/500</div>
            <div class="success-message">Your message has been received!！</div>
            <input type="submit" id="sub2" value="Send">
        </div>
    </form>

    <div class="vertical-line"></div>

    <div class="tm-form2">
        <div class="tm-cl">
            <img id="place" src="/images/placeholder.png">
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9803.56303044615!2d5.064897!3d52.0999197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66f944003844f%3A0xff2c0de8bdd4e64a!2sCapgemini%20Nederland!5e0!3m2!1str!2sus!4v1683015712334!5m2!1str!2sus"></iframe>
            </div>
        </div>
    </div>
</section>

<footer class="tm-footer">
    <div class="tm-us">
        <p class="bold">About Us</p>
        <p> The hotel chain was established in 1982, with a vision to create world-class hotels that offered exceptional
            service and luxurious accommodations. After decades of success, the chain has expanded to various parts of
            the world, including China. The latest addition to the chain is the hotel being built in the beautiful Wuxing
            District of Huzhou, Zhejiang, China. The founder, Ms. Wang, had a passion for creating a hotel that
            incorporates traditional Chinese elements with modern amenities.
        </p>
    </div>

    <div class="tm-address">
        <p class="bold">Address</p>
        <p>Reykjavikplein 1, 3543 KA Utrecht
            Phone: 030 203 0500
            Email: capgemini@info.com</p>
    </div>
    <br/>
    <div class="tm-media">
        <a href="https://www.instagram.com/accounts/login/"><img src="/images/igfoto.png" width="10%" height="10%"></a>
        <a href="https://support.google.com/answer/2451065?hl=en"><img src="/images/G.png" width="100%" height="100%"></a>
        <a href="https://web.wechat.com/uklccp?lang=en_US&t=v2/index"><img src="/images/wechat1.jpg" width="12%" height="12%"></a>
    </div>
</footer>

<script>
    $(document).ready(function () {
        var maxChars = 500;
        var messageInput = $("#messageInput");
        var charCount = $("#charCount");
        var successMessage = $(".success-message");

        messageInput.on("input", function () {
            var message = $(this).val();
            var remainingChars = maxChars - message.length;

            if (remainingChars < 0) {
                messageInput.val(message.slice(0, maxChars));
                remainingChars = 0;
            }

            charCount.text(remainingChars + "/" + maxChars);
        });

        $("#contactForm").submit(function (e) {
            e.preventDefault();

            var name = $("#name").val();
            var email = $("#email").val();
            var message = $("#messageInput").val();

            // İletişim formu verilerini kontrol et
            if (name && email && message) {
                successMessage.show();
                $("#sub2").prop("disabled", true);
                $("#charCount").hide();

                // Formu temizle
                $("#contactForm")[0].reset();
                charCount.text(maxChars + "/" + maxChars); // Karakter sayısını sıfırla
            } else {
                // Uyarı pop-up penceresini göster
                alert("Please fill in all the fields and provide a valid email address.");
            }
        });

        // Siyah renk stilini ayarla
        charCount.css("color", "black");
    });
</script>


<script>
  document.getElementById("cnImg").addEventListener("click", function() {
    window.location.href = "contactcn";
  });
</script>
</body>
</html>
