<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Magestic Hotel</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="dist/pickmeup.min.js"></script>
  <script type="text/javascript" src="dist/handleCounter.js"></script>
  <link rel="stylesheet" type="text/css" href="css/pickmeup.css">
  <link rel="stylesheet" type="text/css" href="css/handle-counter.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script type="text/javascript" src="dist/jquery.scrollUp.js"></script>
  <script type="text/javascript" src="dist/demo.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/login.js"></script>
</head>
<style>
select {
        padding: 5px;
        font-size: 16px;
        background-color: black;
        color: white;
    }


    .tm-header {
            background-image: url("/images/restaurantpage.jpg");
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

</style>


<body>



<header class="tm-header">
  </div>
  <div class="flags">
    <div class="flagEn">
      <a href="#" id="enImg"><img src="/images/us.png"/></a>
    </div>
    <div class="flagCn">
      <a href="#" id="cnImg"><img src="/images/cn.png"/></a>
    </div>
  </div>
  </nav>
  <img class="tm-logo" src="/images/hotellogo.png" alt="Majestic Hotel">
  <nav class="tm-nav">
    <div>
      <ul>
        <li class="tm-list"><a href="home" th:href="@{/home}">Home</a></li>
        <li class="tm-list"><a href="rooms" th:href="@{/rooms}">Rooms</a></li>
        <li class="tm-list"><a href="reservation" th:href="@{/reservation}">Booking</a></li>
        <li class="tm-list"><a href="login" th:href="@{/login}">Login</a></li>
        <li class="tm-list"><a href="restaurant" th:href="@{/restaurant}">Restaurant</a></li>
        <li class="tm-list"><a href="contact" th:href="@{/contact}">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="tm-main">

</section>
<div class="container mt-5">
  <h2 class="text-center">Login Form</h2>
  <br>
  <form action="/login" method="POST" style="max-width: 500px; margin: 0 auto;">
    <div class="form-group">
      <label for="email" style="font-size: 10px;"><strong></strong></label>
      <input type="text" class="form-control" id="email" name="email"  placeholder="Email" style="width: 100%; font-size: 16px; padding: 10px;"required>
    </div>

    <div class="form-group">
      <label for="password" style="font-size: 10px;"><strong></strong></label>
      <input type="password" class="form-control" id="password" name="password"  placeholder="Password" style="width: 100%; font-size: 16px; padding: 10px; margin-top: 10px;"required>
    </div>
    <br>
    <div class="form-group">
      <a href="/forgotpassword" style="font-size: 14px;">Forgot your password?</a>
    </div>
    <br>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary" style="font-size: 16px; padding: 10px 20px;">Sign In</button>
    </div>
    <div class="form-group">
      <p th:text="${error}" th:if="${error}" style="color: red;"></p>
    </div>
    <br>
    <div class="form-group text-center">
      <p style="font-size: 14px;">Don't have an account? <a href="/register">Register</a></p>
    </div>
  </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br>
<footer class="tm-footer">
  <div class="tm-us">
    <p class="bold">About Us</p>
    <p> The hotel chain was established in 1982, with a vision to create world-class hotels that offered exceptional
      service and luxurious accommodations. After decades of success, the chain has expanded to various parts of
      the world, including China. The latest addition to the chain is the hotel being built in the beautiful Wuxing
      District of Huzhou, Zhejiang, China. The founder, Ms. Wang, had a passion for creating a hotel that
      incorporates traditional Chinese elements with modern amenities.
    </p>
  </div>

  <div class="tm-address">
    <p class="bold">Address</p>
    <p>Reykjavikplein 1, 3543 KA Utrecht
      Phone: 030 203 0500
      Email: capgemini@info.com</p>
  </div>
  <br/>
  <div class="tm-media">
    <a href="https://www.instagram.com/accounts/login/"><img src="/images/igfoto.png" width="10%" height="10%"></a>
    <a href="https://support.google.com/answer/2451065?hl=en"><img src="/images/G.png" width="100%" height="100%"></a>
    <a href="https://web.wechat.com/uklccp?lang=en_US&t=v2/index"><img src="/images/wechat1.jpg" width="12%" height="12%"></a>
  </div>
</footer>
<script>
  document.getElementById("cnImg").addEventListener("click", function() {
    window.location.href = "logincn";
  });
</script>
</body>
</html>