<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Forgot Password</title>
</head>
<body>
<div class="container">
  <h2>Forgot Password</h2>
  <form id="forgotPasswordForm" th:action="@{/resetpassword}" th:object="${forgotPasswordRequest}">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" th:field="*{email}">
    </div>
    <button type="button" class="btn btn-primary" id="submitButton">Submit</button>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="forgotpassword.js"></script>
</body>
</html>
